<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/brockwellparkmassage/"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Brockwell Park Massage 2017<i class="fa fa-copyright"></i>
    <div class="contact-link">
      <%= link_to "Contact", "contact.html" %>
    </div>
  </div>
</div>
