.banner {
  color: white;
  text-align: center;
  height: 92vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.home-button {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 39px;
  background: transparent;
  font-weight: lighter;
  border-color: white;
  color: white;
  &:hover {
    color: rgba(0, 255, 87, 0.73);
  }
}

.image-size {
  width: 300px;
  height: 400px;
  flex-grow: 1;
  margin-left: 139px;
  margin-right: 112px;
  margin-top: 37px;
}

.text {
  padding: 50px 0px 50px 50px;
  font-weight: lighter;
}

.home-content {
  display: flex;
}

.header-content h2 {
   margin-left: 18px;
   color: green;
}

.header-content p {
  font-weight: lighter;
  text-align: center;
}
