.treatments {
  padding-top: 44px;
  height: 81vh;
}

.treatment-content {
  display: flex;
  padding: 0 84px;
  font-weight: lighter;
  h1 {
    // text-align: center;
    color: green;
  }
  h4 {
    // text-align: center;
    color: green;
  }
 }

.treatment-header {
  text-align: center;
  color: green;
}
