<div class="showpage-container">
  <h1>Back Massage</h1>
  <p>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad maiores, laborum dolorum nobis, asperiores et labore rem cupiditate fugit minima dignissimos amet. Ex quidem rem architecto eum esse. Voluptatibus, sed?
  </p>
  <%= link_to 'Call now to book', 'contact.html', class: 'btn btn-book' %>
</div>
