<div class="contact-content">
  <div class="contact-header">
    <h1>Contact us</h1>
  </div>
  <div class="contact-items">
    <div class="phone">
      <i class="fa fa-phone"></i> Please call on 07976 980025
    </div>
    <div class="mail">
      <i class="fa fa-envelope-o"></i> <a href="mailto:melanie@brockwellparkmassage.co.uk">brockwellparkmassage@live.co.uk</a>
    </div>
    <div class="map">
      <img src="http://maps.google.com/maps/api/staticmap?markers=color:blue|label:A|37.9833 ,23.7333&center=37.9833,23.7333&zoom=8&size=300x200&sensor=false&maptype=hybrid" alt="" />
    </div>
  </div>
</div>


