---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Brockwell Park massage
    </p>
    <p class="about">
      <%= link_to "Treatments", "treatments.html" %>
    </p>
  </div>
</div>
